**/.git
**/.github
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
ui-taskapp/dist
ui-taskapp/.angular
ui-taskapp/coverage
TasksAppAPI/wwwroot
**/*.md
**/*.http
**/appsettings.Development.json
**/appsettings.Production.json
**/.env
**/.env.*
